/** ****************************************************************************
Project: Seniores Digitais - Labora/Alura/Oracle ONE
Programmer: Rosemeire Deconti
Date: December/2020
**************************************************************************** **/
footer{
	width: auto;
	height: 60px;
	background-color: black;
}

.footer-data {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	background: url("../images/footerBackground.jpg");
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer-paragraph1{
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 40px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
}

.footer-paragraph2{
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 40px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
}

.footer-paragraph3{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 40px;
	margin: 0 auto;
	text-align: center;
}

.copyright {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	margin-left: 20px;
	padding: 15px;
}

/** ------------------------------------------------------------ Media Query **/
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
