/** ****************************************************************************
Project: Seniores Digitais - Labora/Alura/Oracle ONE
Programmer: Rosemeire Deconti
Date: December/2020
**************************************************************************** **/
.product-list-container{
	width: auto;
	margin: 0 auto;
  background-color: #FFFFFF;
	text-align: center;
}

.product-list-detail{
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	padding-bottom: 10px;
	text-decoration: none;
	cursor: pointer;
}

.product-list-image{
	width: 30%;
	height: 100%;
	object-fit: cover;
}

.product-list-name{
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	padding-bottom: 10px;
}

.product-list-price{
	font-size: 20px;
	font-weight: bold;
	color: #D73A1E;
}

.product-list-line{
	width: auto;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	vertical-align: top;
}

.product-list-line li{
	display: inline-block;
	width: 25%;
	padding-bottom: 20px;
}

/** ------------------------------------------------------------ Media Query **/
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }

}
